<ion-content style="background: #368E8C;">
  <div class="conneexiontext">
    <h3> Inscription</h3>
    <div class="trait">
    </div>
  </div>

  <div class="formulaire">
    <div class="formm">

      <form class="" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-floating ">
          <input type="text" class="form-control mb-3" id="floatingInput" placeholder="name@example.com" name="nom"
            [(ngModel)]="form.nom" required minlength="3" maxlength="20" #nom="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && nom.errors }"><div class="invalid-feedback" *ngIf="nom.errors && f.submitted">
              <div *ngIf="nom.errors['required']">nom is required</div>
              <div *ngIf="nom.errors['minlength']">
                Le nom doit contenir au moins 3 caractères
              </div>
              <div *ngIf="nom.errors['maxlength']">
                Le nom doit contenir au plus 20 caractères
              </div>
            </div>
          <label for="nom">Nom</label>
          
        </div>


        <div class="form-floating">
          <input type="text" class="form-control " id="floatingPassword" placeholder="Numero de téléphone" name="numero"
            [(ngModel)]="form.numero" required minlength="3" maxlength="20" #numero="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && numero.errors }">  <div class="invalid-feedback" *ngIf="numero.errors && f.submitted">
              <div *ngIf="numero.errors['required']">Le numero est obligatoire</div>
              <div *ngIf="numero.errors['minlength']">Le numero doit avoir plus de 3 caractères</div>
  
            </div>
          <label for="numero">Numero de téléphone</label>

        
        </div>

        <div class="form-floating">
          <input type="email" class="form-control " id="floatingPassword" placeholder="Entrer un email" name="email"
            [(ngModel)]="form.email" required email #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"><div class="invalid-feedback" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']">L'email est obligatoire</div>
              <div *ngIf="email.errors['email']">
                Entrer un e-mail valide.
              </div>
            </div>
          <label for="email">Email</label>

          
        </div>

        <div class="form-floating ">
          <input type="password" class="form-control " id="floatingPassword" placeholder="Password" name="password"
            [(ngModel)]="form.password" required minlength="6" #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
            <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors['required']">Mot de passe obligatoire</div>
              <div *ngIf="password.errors['minlength']">
                Le mot de passe doit avoir au moins 6 caractères.
              </div>
            </div>
          <label for="floatingPassword">Mot de passe</label>
          
        </div>

        <div class="form-floating ">
          <input type="text" class="form-control " id="floatingPassword" placeholder="Confirmer le mot de passe"
            name="confirmpassword" [(ngModel)]="form.confirmpassword" required confirmpassword
            #confirmpassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmpassword.errors }"><div class="invalid-feedback" *ngIf="confirmpassword.errors && f.submitted">
              <div *ngIf="confirmpassword.errors['required']">Password is required</div>
              <div *ngIf="confirmpassword.errors['confirmpassword']">
                Les mots de passe ne sont pas les mêmes.
              </div>
            </div>
          <label for="confirmpassword">Confirmer</label>
          
        </div>

        <div class="form-floating ">
          <input type="text" class="form-control " id="floatingPassword" placeholder="Adresse" name="adresse"
            [(ngModel)]="form.adresse" required #adresse="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && adresse.errors }"><div class="invalid-feedback" *ngIf="adresse.errors && f.submitted">
              <div *ngIf="adresse.errors['required']">L'adresse est obligatoire</div>
  
            </div>
          <label for="adresse">Adresse</label>

          
        </div>

        <div class="bouton">
          <button type="button" class=" inscription" (click)="onSubmit()">Inscrire</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>

        <div class="textt">Vous avez déjà un compte ? <b style="color: blue;" routerLink="/connexion"
            routerLinkActive="true">Connexion</b></div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>

    </div>

  </div>

</ion-content>