
<ion-content style="background: #368E8C;">
  <div class="conneexiontext">
    <h3> Inscription</h3>
  <div class="trait">
  </div>
   </div>

   <div class="formulaire">
    <div class="formm">

      <form class="">
        <div class="form-floating ">
          <input type="text" class="form-control mb-3" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Nom</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control " id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Numero de téléphone</label>
        </div>
    
        <div class="form-floating ">
          <input type="password" class="form-control " id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Mot de passe</label>
        </div>
    
        <div class="form-floating ">
          <input type="password" class="form-control " id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Confirmer</label>
        </div>
    
        <div class="form-floating ">
          <input type="password" class="form-control " id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Adresse</label>
        </div>
  
         <div class="bouton">
          <button type="button" class=" inscription"routerLink="/tabs" routerLinkActive="true">Inscrire</button>
        </div>
      
        <div class="textt">Vous avez déjà un compte ? <b style="color: blue;" routerLink="/connexion" routerLinkActive="true">Connexion</b></div>
      </form> 
      
    </div>

   </div>
   
  </ion-content>


