ion-card {
    // display: flex;
    // flex-flow: column-reverse;
    width: 140px;
    height: 140px;
    border: 5px solid #353558;
    border-radius: 100%;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
  }

  .img{
    width: 100%;
  }
  // ion-item{
  //   border-bottom: 1px solid red;
  // }
 .info{
  border: 3px solid #368E8C;
  // background-color: #368E8C;
  border-radius: 30px;

 }
 .container{
  padding: 20px;
 }
 span{
  font-size: 14px;
 }
 ion-button{
  border-radius: 10px;
  border: 1px solid #353558;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 15px ;
  background: #353558;
  color: white;
 }