<ion-header>
  <ion-toolbar>
    <ion-title>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <!-- <ion-card>
    <ion-card-header>
    
    </ion-card-header>
  
    <ion-card-content>
    
      <img class="img" src="assets/img/Rectangle 43.png" alt="">
    </ion-card-content>
  </ion-card>
<div class="nom" style="text-align: center;">
 <b>Diarraba Diarra</b>  -->

  
<!-- </div> -->
<!-- <div class="row info" style="margin-top: -50px;"> -->
  <!-- <div class="nom" style="text-align: center;margin-top: 40px; color: white;">
 <b>Diarraba Diarra</b> </div>
 <div class="information" style="color: white;margin-top: 40px;margin-bottom: 50px;">
<span>Nom : <b class="nn"> Diarra</b></span> <br>
<span>Prenom : <b class="nn"> Diarraba</b></span><br> 
<span>Email : <b class="nn"> diarra@gmail.com</b></span> <br>
<span>Numéro : <b class="nn"> 76767676</b></span> 
</div> -->
<!-- </div> -->
  <!-- <ion-item>
    <ion-label >Nom :</ion-label>
    <ion-input  value="Diarra"></ion-input>
  </ion-item> -->

  <!-- <ion-buttons >
    <ion-button >
      <ion-icon name="create-outline"></ion-icon>
      Modifier
    </ion-button>
  </ion-buttons>  -->



  <ion-card>

  
    <ion-card-content>
    
      <img class="img" src="assets/img/Rectangle 43.png" alt="">
    </ion-card-content>
  </ion-card>
<!-- <div class="nom" style="text-align: center;">
 <b>Diarraba Diarra</b>  -->

  
<!-- </div> -->
<div class="row info" style="margin-top: -60px;">
  <div class="nom" style="text-align: center;margin-top: 50px; color: black;">
 <b>Diarraba Diarra</b> </div>
 <div class="information" style="color:black;margin-top: 40px;margin-bottom: 40px;">
<span>Nom  : <b class="nn"> Diarra Diarraba</b></span> <br>

<span>Email : <b class="nn"> diarra@gmail.com</b></span> <br>
<span>Numéro : <b class="nn"> 76767676</b></span> 
<span>Adresse : <b class="nn"> Bamako</b></span> 
</div>

<ion-buttons >
  <ion-button style="margin-bottom: 20px;">
    <ion-icon name="create-outline"></ion-icon>
    Modifier
  </ion-button>
</ion-buttons>
</div>
  <!-- <ion-item>
    <ion-label >Nom :</ion-label>
    <ion-input  value="Diarra"></ion-input>
  </ion-item> -->



  
</div>
</ion-content>
