ion-card {
    // display: flex;
    // flex-flow: column-reverse;
    width: 100px;
    height: 100px;
    border: 5px solid #368E8C;
    border-radius: 100%;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
  }

  .img{
    width: 100%;
  }
  // ion-item{
  //   border-bottom: 1px solid red;
  // }
 