<ion-tabs>

  <ion-tab-bar slot="bottom">
    

      <ion-tab-button tab="accueil">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="docteurs" >
        <ion-icon name="person-sharp"></ion-icon>
        <ion-label>Docteurs</ion-label>
      </ion-tab-button>

        <ion-tab-button tab="rendezvous">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Rdv</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="maps">
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>
    
        
  </ion-tab-bar>

</ion-tabs>
