ion-badge {
    position: absolute;
    font-size: 8px;
    right: -3px;
    top: 15px;
}

ion-button {
    // margin: 5px;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: visible !important;
    color: #6A9A8B;
}

.tt {
    margin-left: -12px;

}

.tab-selected {
    color: #353558 !important;
}

// img {
//     width: 45px;
//     height: 45px;
//     border-radius: 50%;
//     border: 3px solid #353558;
   
// }
.contient{
    display: flex;
    // grid-template-columns: auto auto;
    margin-top: 23px;

}
.texts{
    margin-top: 10px;
    margin-left: 5px;
}
.not{
    margin-top: 20px;
}
.bx{
    margin-top: 20px;
}
.deconnexion{
    margin-top: 5px;
    margin-left: 15px;
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
   
    
}

.avatar{
    
    border-radius: 50%;
    border: 3px solid #353558;
    width: 35px;
  height:35px;
   
}