<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let rdv of mesrdvs"  (click)="goToDetailsRdv(rdv.idrdv)" >
    <ion-card-header>
      <div class="divs">
      <ion-avatar>
        <img alt="" src="../../assets/img/5edbc627ff214417f0a4f3dda15d5156.jpg" />
      </ion-avatar> <b class="noms"> Dr {{rdv.professionnel.nom}}</b>  
      <!-- <ion-icon name="close-circle-outline" class="iii" (click)="DeleteRdv(rdv.idrdv)"></ion-icon> -->
    </div>
    </ion-card-header>
  
    <ion-card-content>
     <p class="rdv">Rendez-vous</p> 
    </ion-card-content>
    <div class="trait"></div>
    <div class="jh">
   <div class="jour">
    <p>{{rdv.date}}</p>  
   </div>
   <div class="heure">
    <p>{{rdv.fuseauHoraire.timeStart}}</p>
   </div>
    </div>

  </ion-card>
</ion-content>
