

<ion-content>

   <button  class="retour" >
      <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>

    </button>

  <div class="container-fluid">
    <div class="texte" style="margin-top:20%;margin-bottom: 30px;">
      <h4 style="text-align: center ;">Bienvenue dans DocOnline</h4>
    </div>
<div class="div" >
    <!-- <ion-card class="card"> -->
      <div class="row r1">
      </div>
      
    <!-- </ion-card> -->
    <div class="button" routerLink="/inscriptionprof">Professionnel</div>
  </div>


  <div class="div" >
    <!-- <ion-card class="card"> -->
      <div class="row r2">
       
      </div>
      
    <!-- </ion-card> -->
    <div class="button" routerLink="/inscription">Patient</div>
  </div>
  </div>

</ion-content>
