.container{
    // border: 1px solid white;
    // box-shadow: wheat;

    margin-top:40%;
    margin-bottom: auto;
    ;
    padding: 5px;
    width: 90%;
    // border-radius: 15px;
}
img {
    max-width: 100%;
    height: 168px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

button.btn {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    color: white;
    background-color: #353558;
}

button.btn:hover {
   
    background-color: #368E8C;
    color: white;
}

button.btn:active{
    
    background-color: #353558;
    color: white;
}
input#floatingInput {
    box-shadow: none;
}
ion-content{
    // ICI ON BLOCK LE SCROLLING
    --offset-bottom: auto!important;
    background: #FFFFFF;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  }