<ion-header>
  <ion-toolbar>
    <ion-title style="margin-left:-10px">Modifier mon profil</ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline" ></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container user-avatar">
    <label for="files" class="Fimg">
    <div class="simg"> 
      
    <img class="avatar" src="../../../assets/{{imageprofil}}" alt="" >
    </div> 
    <div class="status-overlay "> 
      
    <ion-icon class="IONic" name="camera-outline">
      <input id="files" style="visibility:hidden;" type="file">
    </ion-icon></div>
  
  </label>
  <input id="files" style="visibility:hidden;" type="file">
    </div>

    <ion-segment [(ngModel)]="informations">
      <ion-segment-button value="information">
        <ion-label>Informations</ion-label>
      </ion-segment-button>
      <ion-segment-button value="motdepasse">
        <ion-label>Mot de passe</ion-label>
      </ion-segment-button>
    </ion-segment>
  
    <div class="divprincipal"  [ngSwitch]="informations">
      <ion-list *ngSwitchCase="'information'">
  <form >
    <div class="row">
        <label for="formGroupExampleInput">Nom</label>  
        <!-- ngModel="{{user.nom}}" -->
        <!-- [(ngModel)]="modif.nom" -->
        <input type="text" value="{{modif.nom}}" [(ngModel)]="modif.nom"  name="nom" class="form-control">
      </div>
      <div class="row">
        <label for="formGroupExampleInput">Email</label>
        <input type="text" ngModel="{{ user.email }}" [(ngModel)]="modif.email" name="email"  class="form-control" placeholder="Adresse e-mail">
      </div>

      <div class="row">
        <label for="formGroupExampleInput">Numéro</label>
        <input type="text" id= "numero" [(ngModel)]="modif.numero" name="numero" class="form-control" placeholder="Numéro de téléphone">
      </div>

      <div class="row">
        <label for="formGroupExampleInput">Adresse</label>
        <input type="text" [(ngModel)]="modif.adresse" name="adresse" value="Bamako" class="form-control" placeholder="Adresse">
      </div>
      <ion-buttons >
        <ion-button class="iob" style="margin-bottom: 20px;" (click)="onSubmit()">
          
          Enregistrer
        </ion-button>
      </ion-buttons>
  </form>
</ion-list>

<ion-list *ngSwitchCase="'motdepasse'">
<form>


  <div class="row">
    <label for="formGroupExampleInput">Actuel mot de passe</label>   
    <input type="text"   [(ngModel)]="modif1.currentpassword" name="currentpassword"  class="form-control" placeholder="Adresse e-mail">
  </div>

  <div class="row">
    <label for="formGroupExampleInput">Nouveau mot de passe</label>
    <input type="text" id= "numero" [(ngModel)]="modif1.newpassword" name="newpassword" class="form-control" placeholder="Numéro de téléphone">
  </div>

  <div class="row">
    <label for="formGroupExampleInput">Confirmer</label>
    <input type="text" [(ngModel)]="modif1.confirmpassword" name="confirmpassword"  class="form-control" placeholder="Adresse">
  </div>

  <ion-buttons >
    <ion-button class="iob" style="margin-bottom: 20px;" (click)="ModifierMotdepasse()">
      
      Enregistrer
    </ion-button>
  </ion-buttons>

</form>

</ion-list>
</div>
</ion-content>
