

.conneexiontext {
    margin-top: 80px;
    color: white;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

.trait {
    border-bottom: 5px solid white;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.formulaire {
    margin-top: 50px;
    background-color: #F8F6FB;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid white;
    height: 510px ;
    position: fixed;
    width: 100%;
}

.formm {
    margin-top: 50px;
    padding: 15px;
}

.mdp {
    float: right;
    font-size: 12px;
    text-align: end;
}

.textt {
    font-size: 13px;
    text-align: center;
}






  .inscription{
    border-radius: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #368E8C;
    color: white;
 
  
   
    
  }

  .inscription:active{
   
    background-color: #368E8C;
    color: white;
  }

  .inscription:hover{
   
    background-color: #353558;
    color: white;
  }

  .bouton{
    display: flex;
    flex-direction: column;
  }
label{
    font-size: 14px !important;
}

input#floatingInput:hover {

    box-shadow: none;
}

input#floatingPassword:hover {

    box-shadow: none;
}



ion-content{
    // ICI ON BLOCK LE SCROLLING
    --offset-bottom: auto!important;
    background: #F8F6FB;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  }