<ion-content style="background: #368E8C;">
  <div class="conneexiontext">
    <h3> Connexion</h3>
  <div class="trait">
  </div>
   </div>

   <div class="formulaire">
    <div class="formm">

      <form class="">
        <div class="form-floating ">
          <input type="text" class="form-control mb-3" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email ou numéro de téléphone</label>
        </div>
       
        <div class="form-floating ">
          <input type="password" class="form-control mb-3" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Mot de passe</label>
        </div>
    
    

        <div class="bouton">
          <div class="mdp mb-3">Mot de passe oublié ?</div>

          <button type="button" class=" inscription"routerLink="/tabs" routerLinkActive="true">Connecter</button>
        </div>
      
        <div class="textt">Vous n'avez pas de compte ? <b style="color: blue;" routerLink="/inscription" routerLinkActive="true">Inscription</b></div>
      </form> 
      
    </div>

   </div>
   
  </ion-content>

