<ion-header>
  <ion-toolbar>
    <ion-title>Docteurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div class="container">
  <ion-card  *ngFor="let prof of patients | paginate:{itemsPerPage:4,currentPage:p}   |filter:searchTerm">
      <div class="row tt">
       
        <div class="col first " >
          
          <img class="colimg" src="../../assets/img/{{prof.imageprofil}}" alt="" > 

          <!-- routerLink="/detailsdocteurs" routerLinkActive="true" -->
        </div>
        <div class="col seconde ">
          <p class="nom"><b class="dr"> {{prof.nom}}</b><br>
            <b class="bb">{{prof.numero}}</b>
          <p>
          <p></p>

        </div>
      
      </div>
  
    </ion-card>
    <div class="pag">
      <pagination-controls (pageChange)="p=$event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
      
     
        
      </div>
   
    
    
  

</ion-content>
