
<ion-header [translucent]="true">
  
  <ion-toolbar>
   
    <ion-buttons class="BB">
      <ion-button (click)="back()">
    <ion-icon name="chevron-back-outline"  ></ion-icon>
  </ion-button>
  </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container tout">
  <div class="avatars">
  <ion-avatar class="avatar">
    <img alt="Silhouette of a person's head" src="../../assets/img/{{imageprofil}}" />
  </ion-avatar>

</div>
<div class="nomtt" >Dr {{nom}}</div>
 <div class="info">
 <!-- <h5> Informations</h5> -->
 </div>
<div class="informations">
  <ion-card>
 <div class="noms">
  <div class="tt ttt"> Nom :<b> {{nom}}</b></div>
  <div class="tt" style="font-size: 15px;"> Email :<b> {{email}}</b></div>
  <div class="tt"> Téléphone :<b> {{numero}}</b></div>
  <div class="tt"> Profession :<b *ngFor="let s of profession" > {{s.libelle}}</b></div>
  <div class="tt"> Adresse :<b> {{adresse}}</b></div>
 </div>
</ion-card>


</div>

<div class="biographie" style="margin: 15px;">
  <h4 style="font-weight: bold;">Biographie</h4>
  <p>{{biographie}}</p>
</div>
<div class="boutton mx-5" style="margin-top: 25px;">
  <ion-buttons class="bbbton">
  <ion-button id="open-modal" expand="block"  routerLink="/prendrerdv">Prendre rdv</ion-button>
  <!-- <ion-button id="open-modal" expand="block">Open Modal</ion-button>  -->
  <!-- <ion-modal #modal trigger="open-modal">
    <form action="">
    <ng-template>
      <ion-content>
        <ion-toolbar class="tt">
          <ion-title >Prendre rdv</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
         <ion-list>
          <ion-item>
            <ion-label position="floating">{{nom}}</ion-label>
            <ion-input placeholder="Docteur"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label  position="floating" >Date</ion-label>
            <ion-input type="date" name="jour" [(ngModel)]="jour" placeholder="Date"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" >Heure</ion-label>
            <ion-input placeholder="Heure"  name="heure"[(ngModel)]="heure" type="time"></ion-input>
          </ion-item>
       
            <ion-item>
              <ion-select interface="popover" placeholder="Objet" name="objet" [(ngModel)]="obj">
                <ion-select-option *ngFor="let objetss of objets"  value="{{objetss.idobjet}}" 
                >{{objetss.libelle}}</ion-select-option>
               
              </ion-select>
            </ion-item>
          <ion-buttons class="env">
            <ion-button (click)="AjouterRendezVous()" > Envoyer</ion-button>
          </ion-buttons>
            
        </ion-list> 
       </ion-content>
    </ng-template>
  </form>
  </ion-modal>  -->
</ion-buttons>
</div>
</div>
</ion-content>

