<!-- <ion-header>
 
</ion-header> -->
<ion-toolbar>
  <ion-icon style="margin-top: 30px;width: 20px;height: 20px;margin-left: 12px;" name="chevron-back-outline"></ion-icon>
</ion-toolbar>

<ion-content>

  
  <div class="first ">
    <img class="colimg" src="assets/img/Rectangle 62.png" alt="" >
  </div>
  <div class="texte">
    <h5>Dr Abdoulaye Diallo</h5>
    <h6>Dentiste</h6>
  </div>
  <hr>
<div class="info">
  <span> Nom :<b> Diallo</b></span><br>
  <span> Prenom :<b>Abdoulaye</b></span><br>
  <span> Email :<b> alassane@gmail.com</b></span><br>
  <span> Téléphone :<b> 93939393</b></span><br>
  <span> Profession :<b> Dentiste</b></span>
</div>
<hr>

<div class="biographie">
  <h5 class="bio">Biographie</h5>
  <p>Titulaire d’un diplome d’etat de docteur en chirurgie ou en medecine 
    dentaire dans la plupart des pays</p>
</div>
<hr>
<div class="bouton">
  <button type="button" class=" inscription mx-auto d-block">Prendre Rdv</button>
</div>
</ion-content>
