.avatars{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

ion-card{
    padding: 10px;


}
.noms{
    font-size: 16px;
}
.tt{
    margin-bottom: 10px;
}
.info{
    margin-left: 12px;
    font-weight: bold;
}
.nomtt{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.ttt{
    margin-top: 10px;
}
.bbbton ion-button{
    border: 1px solid #353558;
    border-radius: 5px;
    background-color: #353558;
    color: white;
}
.tout{
    margin-top: 30px;
}

ion-modal {
    --height: 70%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 15px;
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }

  .env ion-button{
    background-color: #353558;
    border: 1px solid #353558;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  ion-content{
    // ICI ON BLOCK LE SCROLLING
    --offset-bottom: auto!important;
    background: #F8F6FB;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  }