<ion-header [translucent]="true">
  
  <ion-toolbar>
   
    <ion-buttons class="BB">
      <ion-button (click)="back()">
    <ion-icon name="chevron-back-outline"  ></ion-icon>
  </ion-button>
  </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container tout">
  
 <div class="info">
 <!-- <h5> Informations</h5> -->
 </div>
<div class="informations">
  <ion-card>
    <div class="avatars">
      <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="../../../assets/img/5edbc627ff214417f0a4f3dda15d5156.jpg" />
      </ion-avatar>
    
    </div>
    <div class="nomtt" > <h4>Dr Tiec </h4></div>
 <div class="noms">
  <div class="tt ttt"> Nom :<b>ghjk</b></div>
  <div class="tt"> Email :<b> hjklm</b></div>
  <div class="tt"> Téléphone :<b>ghjk</b></div>
  <div class="tt"> Adresse :<b> tyuio</b></div>
 </div>
</ion-card>
</div>
  </div>
</ion-content>
