<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon class="not" name="notifications-outline" ></ion-icon>
        <ion-badge>3</ion-badge>
      </ion-button>
  
      <ion-buttons slot="primary">
        <ion-button id="popover-button">
          <i class="bi bi-three-dots"></i>
        </ion-button>
    
        <ion-popover trigger="popover-button" [dismissOnSelect]="true" class="popUps">
          <ng-template class="popUp">
            <ion-content>
              <ion-list >
                <ion-item routerLink ="/profilprof">Mon profil</ion-item>
                <ion-item  (click)="logout()" >Deconnexion</ion-item>
                <!-- <button class="deconnexion" (click)="logout()" >Déconnexion</button> -->
                <!-- <ion-item [button]="true" id="nested-trigger">More options...</ion-item> -->
    
                <!-- <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                  <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover> -->
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
    
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card  *ngFor="let s of mesrdv" >
    <ion-card-header>
      <div class="divs">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="../../../assets/img/{{s.imageprofil}}" />
      </ion-avatar> <b class="noms">{{s.nom}}</b>
    </div>
    </ion-card-header>
  
    <ion-card-content>
     <p class="rdv">Rendez-vous</p> 
    </ion-card-content>
    <div class="trait"></div>
    <div class="jh">
   <div class="jour">
    <p>{{s.rdv.date}}</p>  
   </div>
   <div class="heure">
    <p>{{s.fuseauHoraire.tim}}</p>
   </div>
    </div>

  </ion-card>
</ion-content>
