ion-avatar{
    width: 30px;
    height: 30px;
}
.divs{
    display: flex;


}
.noms{
    padding: 5px;
    font-size: 16px;
}
.trait{
    border-bottom: 1px solid rgb(176, 168, 168);
    width: 100%;
    margin-top:-10px;
}
.jh{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 17px;
    padding-top: 5px;

}

ion-card{
    // border-radius: 15px;
    border: 1px solid rgb(227, 224, 224);
    width: 80%;
     height: 110px;
    border-left: 7px solid #353558;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.rdv{
    margin-top: -10px;
}
ion-content{
    // ICI ON BLOCK LE SCROLLING
    --offset-bottom: auto!important;
    background: #FFFFFF;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  }
  ion-badge {
    position: absolute;
    font-size: 8px;
    right: -3px;
    top: 5px;
}
ion-card-header.ion-inherit-color.md.hydrated {
    margin-top: -11px;
}
// p {
//     margin-top: -7px;
   
// }


.bbtn{
    float: right;
    border-radius: 5px;
    border: 1px solid #353558;
    color: white;
    background-color: #353558;
    padding: 7px;
    margin: 10px;
}
.bbtn:hover{
   
    border: 1px solid #368E8C;
  
    background-color: #368E8C;
 
}