<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
 
 <div class="container">
  <ion-searchbar placeholder="Recherche"></ion-searchbar>


  <h6 class="aide">Comment nous pouvons vous aider ?</h6>

  <div class="mesViews">
    <div class="first"> 
      <ion-card>
      
        <ion-card-content>
          <img  src="assets/img/Rectangle 43 (1).png" alt="#" />

          <div class="texte">Maps</div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="second">
      <ion-card>
      
        <ion-card-content>
          <img class="rdv" src="assets/img/Rectangle 43 (2).png" alt="#" />

          <div class="texte">Maps</div>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="end">
      <ion-card>
      
        <ion-card-content>
          <img src="assets/img/Rectangle 43.png" alt="#" />

          <div class="texte">Maps</div>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
<!--  
  <div class="categorie">
    <h6>Categories</h6>
  </div> -->
<div class="dialogue">
  <div class="imgd">
    <img  src="../../assets/undraw_doctors_p6aq.svg" alt="">
  </div>
  <div class="textedia">
    La santé est un <br> élément<br>fondamental
  </div>
<div class="categorie">
  <h6>Categories</h6>
</div>


  
</div>

<div class="mes2views">
  <div class="second1">
    <div class="ttest">
      <p>Dentiste</p>
    </div>
    
  </div>
  <div class="second2">
    <div class="ttest">
      <p>Cardio</p>
    </div>
  </div>

  <div class="second3">
   <div class="ttest">
      <p>Ophta</p>
    </div>
  </div>
</div>
</div>



</ion-content>

