<ion-header>
  <ion-toolbar>
    <ion-title>Docteurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div class="container">
  
      <div class="row tout">
        <div class="first ">
          <img class="colimg" src="assets/img/Rectangle 62.png" alt="" >
        </div>
        <div class="seconde ">
          <p class="nom"><b class="dr">Dr Diallo</b><br><b class="bb">Dentiste</b><p>
          <p></p>

        </div>
        
      </div>
  

      <div class="row tout">
        <div class="first ">
          <img class="colimg" src="assets/img/Rectangle 62.png" alt="" >
        </div>
        <div class="seconde ">
          <p class="nom"><b class="dr">Dr Diallo</b><br><b class="bb">Dentiste</b><p>
          <p></p>

        </div>
        
      </div>
      <div class="row tout">
        <div class="first ">
          <img class="colimg" src="assets/img/Rectangle 62.png" alt="" >
        </div>
        <div class="seconde ">
          <p class="nom"><b class="dr">Dr Diallo</b><br><b class="bb">Dentiste</b><p>
          <p></p>

        </div>
        
      </div>
      <div class="row tout">
        <div class="first ">
          <img class="colimg" src="assets/img/Rectangle 62.png" alt="" >
        </div>
        <div class="seconde ">
          <p class="nom"><b class="dr">Dr Diallo</b><br><b class="bb">Dentiste</b><p>
          <p></p>

        </div>
        
      </div>
      <div class="row tout">
        <div class="first ">
          <img class="colimg" src="assets/img/Rectangle 62.png" alt="" >
        </div>
        <div class="seconde ">
          <p class="nom"><b class="dr">Dr Diallo</b><br><b class="bb">Dentiste</b><p>
          <p></p>

        </div>
        
      </div>
      
     
        
      </div>
   
    
    
  

</ion-content>
