<ion-header>
  <ion-toolbar>
    <ion-title>Docteurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar placeholder="recherche" [(ngModel)]="searchTerm" showCancelButton="focus"
animated></ion-searchbar>
 <div class="container">
  <ion-card  *ngFor="let prof of professionnels | paginate:{itemsPerPage:4,currentPage:p} |filter:searchTerm">
      <div class="row tt">
       
        <div class="col first " (click)="goToDetailsDocteur(prof.id)">
          
          <img class="colimg" src="../../assets/img/{{prof.imageprofil}}" alt="" > 

          <!-- routerLink="/detailsdocteurs" routerLinkActive="true" -->
        </div>
        <div class="col seconde ">
          <p class="nom"><b class="dr">Dr {{prof.nom}}</b><br>
            <b class="bb" *ngFor="let s of prof.specialites">{{s.libelle}}</b>
          <p>
          <p></p>

        </div>
      
      </div>
  
    </ion-card>
      
      
   <div class="pag">
      <pagination-controls (pageChange)="p=$event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
        
      </div>
   
    
    
  

</ion-content>
